<div class="container col-md-12 d-flex justify-content-center">

    {% for video in videos %}
    <form action="{{ url_for('video') }}" method="POST">

        <div class="card mx-1 my-0" style="width: 18rem;">
            <input type="hidden" name="video_id" value="{{video.uri}}">
            <img class="card-img-top" src="{{ video['pictures']['sizes'][2]['link'] }}" alt="{{ video.name}}">
            <div class="card-body">
                <h5 class="card-title">{{ video.name}}</h5>
                <p class="card-text">{{video.description}}</p>
                <button type="submit" class="btn btn-primary">Assistir</button>
                <button type="submit" formaction="{{url_for('delete')}}" class="btn btn-danger">Excluir</button>
            </div>
        </div>
    </form>

    {% endfor %}
</div>