<div class="modal fade" id="modal_upload" tabindex="1" role="dialog" aria-labelledby="modal_upload_label"
    aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title m-auto " id="modal_upload_label">Upload de vídeo</h5>
                <!-- <button type="button" class="close justify-content-end" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title_video">Titulo</label>
                        <input type="text" class="form-control" id="title_video"
                            placeholder="Informe o número que estará realizando a ligação">
                    </div>

                    <div class="form-group">
                        <label for="describle_video">Descrição</label>
                        <input type="text" class="form-control" id="describle_video"
                            placeholder="Informe o número que irá receber a ligação">
                    </div>

                    <div class="form-group" style="text-align: center;">
                        <label for="file_video" class="btn btn-dark">Aperte para escolher vídeo

                            <input type="file" class="form-control" id="file_video" hidden>
                        </label>
                    </div>
                    
                    <div style="text-align: center;">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary m-auto" data-dismiss="modal">Fechar/Cancelar</button>
            </div>
        </div>
    </div>
</div>