{% include 'util/cabecalho.html' %}


<div style="max-width: 300px;">

    {% if message != None %}
    {% if 'sucesso' in message.lower() %}
    <div class="alert alert-success mb-1" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% elif 'falha' in message.lower()%}
    <div class="alert alert-danger mb-1" role="alert">
        <strong>{{message}}</strong>
    </div>
    {% else %}
    {% endif %}
    {% else %}

    {% endif %}


    <button class="btn btn-primary mt-1 mb-5" data-toggle="modal" data-target="{{'#modal_upload'}}">Fazer
        upload</button>
</div>
</div>

{% include 'cards/videos.html' %}


</body>

</html>